@import "../../assets/global-styles/colors.style";
@import "../../assets/global-styles/mixins.style";

.rights-stripe {
  background-color: $black;
  padding: 2rem;

  span {
    display: block;
  }

  &__right {
    text-align: right;
  }

  @include bp-mobile {
    :first-child {
      display: block;
    }

    span {
      text-align: center;
      margin: 1rem 0;
    }
  }
}
