@import "../../assets/global-styles/colors.style";

.searchbar {
  width: 250px;

  input {
    background-color: $black;
    width: calc(90% - 1rem);
    margin-right: 1rem;

    border: none;
    border-bottom: 2px solid $color-primary;

    &:focus {
      outline: none;
    }
  }

  i {
    cursor: pointer;
  }
}
