@import "../../assets/global-styles/colors.style";
@import "../../assets/global-styles/mixins.style";

.img-block-news {
  @include focus-img();
  cursor: pointer;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  .img-box {
    background-color: $black;
  }

  &__text-box {
    position: absolute;
    bottom: 0;

    background-color: rgba($black, 0.75);
    width: 100%;
    padding: 1rem;

    h2 {
      @include max2l();
      margin-bottom: 0.5rem;
    }

    p {
      @include max3l();
    }
  }
}
