@import "../../assets/global-styles/colors.style";
@import "../../assets/global-styles/mixins.style";

.news-with-img {
  @include focus-img();
  @include trans-opacity();
  cursor: pointer;

  &__text {
    h2 {
      @include max3l;
      margin-top: 1rem;
    }
  }

  @include bp-960 {
    grid-auto-rows: 100px;
  }
}
