@import "../../assets/global-styles/mixins.style";
@import "../../assets/global-styles/mixins.style";

.small-news {
  @include trans-opacity();
  overflow: hidden;
  display: block;
  width: 100%;

  h2 {
    @include max2l();
    margin: 1rem 0;
  }
}
