@import "../../assets/global-styles/colors.style";
@import "../../assets/global-styles/mixins.style";

.more-stripe {
  background-color: $color-dark-primary;
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
  }

  @include bp-mobile {
    &__links {
      flex-wrap: wrap;
    }
  }
}
