@import "../../assets/global-styles/mixins.style";

.main-content {
  margin: 5rem 0;

  @include bp-tablet {
    &__with-img {
      grid-template-columns: 1fr;

      :first-child {
        margin-bottom: 0;
      }

      :last-child {
        margin-top: 0;
      }
    }

    &__without-img {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
