@import "../../assets/global-styles/colors.style";

.videos-stripe {
  background-color: $black;

  &__top {
    padding: 1rem 0;
  }

  &__box {
    overflow: hidden;

    .carousel-box {
      position: relative;
      height: 300px;
    }

    .hide-left {
      left: -341px;
    }

    .hide-right {
      left: 1705px;
    }

    .active {
      &-0 {
        left: 0px;
        opacity: 1;
      }

      &-1 {
        left: 341px;
        opacity: 1;
      }

      &-2 {
        left: 682px;
        opacity: 1;
      }

      &-3 {
        left: 1023px;
        opacity: 1;
      }

      &-4 {
        left: 1364px;
        opacity: 1;
      }
    }
  }
}
