@import "../../assets/global-styles/colors.style";

.videos {
  background-color: $black;

  &__head {
    .move-videos-btn {
      .btn-l,
      .btn-r {
        cursor: pointer;
        background-color: $black;
        width: 1.25rem;
        height: 1.25rem;
        border: none;
        border-bottom: 5px solid $color-primary;

        &:focus {
          outline: none;
        }
      }

      .btn-l {
        border-left: 5px solid $color-primary;
        transform: rotate(45deg);
      }

      .btn-r {
        border-right: 5px solid $color-primary;
        transform: rotate(-45deg);
      }
    }
  }

  &__box {
    overflow: hidden;

    .carousel-box {
      position: relative;
      height: 300px;

      .videos-pannel {
        position: absolute;
        opacity: 0;
        width: 360px;
        margin-right: 2rem;

        transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;

        .img-box {
          width: 360px;
          height: 220px;

          img {
            width: 100%;
          }
        }
      }

      .hide-left {
        left: -380px;
      }

      .hide-right {
        left: 1900px;
      }

      .active {
        &-0 {
          left: 0px;
          opacity: 1;
        }

        &-1 {
          left: 380px;
          opacity: 1;
        }

        &-2 {
          left: 760px;
          opacity: 1;
        }

        &-3 {
          left: 1140px;
          opacity: 1;
        }

        &-4 {
          left: 1520px;
          opacity: 1;
        }
      }
    }
  }
}
