@import "../../assets/global-styles/colors.style";

.btn-left,
.btn-right {
  cursor: pointer;
  background-color: $black;
  width: 2rem;
  height: 2rem;
  border: none;
  border-bottom: 5px solid $color-primary;

  &:focus {
    outline: none;
  }
}

.btn-left {
  border-left: 5px solid $color-primary;
  transform: rotate(45deg);
}

.btn-right {
  border-right: 5px solid $color-primary;
  transform: rotate(-45deg);
}

// btn light
.btn-light {
  background-color: white;
  border-bottom: 5px solid $black;
}

.btn-light-left,
.btn-light-right {
  border-color: $black;
}
