@import "../../assets/global-styles/mixins.style";

.big-news-with-img {
  @include focus-img();
  @include trans-opacity();
  cursor: pointer;
  overflow: hidden;

  .img-box {
    max-height: 275px;
  }

  h2,
  span {
    margin-top: 1rem;
  }

  h2 {
    @include max2l();
    margin-bottom: 2rem;
  }

  span {
    display: block;
  }
}
