@import "../../assets/global-styles/colors.style";

.not-found {
  width: 100%;
  min-height: 440px;
  margin: 5rem;
  text-align: center;

  a {
    color: $color-primary;
    font-size: 2rem;
  }
}
