@import "../../assets/global-styles/colors.style";
@import "../../assets/global-styles/mixins.style";

.featured-video {
  @include focus-img();
  overflow: hidden;
  display: block;
  position: absolute;
  opacity: 0;
  width: 321px;
  margin-right: 2rem;

  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;

  text-overflow: ellipsis;

  .img-box {
    height: 180px;
  }

  h2 {
    @include max2l();
    margin: 1rem 0;

    transition: color 0.25s ease-in-out;
  }

  &:hover {
    h2 {
      color: rgba($color-primary, 0.75);
    }
  }
}
